
.viewTitle
{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
}
.viewContent
{
    margin-top: 10px;
    text-align: center;
    clear: both;
    font-size: 14px;
}
.viewBottom
{
    margin-top: 40px;
    text-align: center;
}


.leftitem
{
    color: Blue;
}

.topitem
{
    margin-top: 10px;
}
.itemfont
{
    font-weight: bold;
    font-size: 16px;
    color: #433210;
    font-family: @华文新魏;
}
.assigntop
{
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
}
.assignbottom
{
    width: auto;
    margin-top: 20px;
    margin-left: 250px;
}
